.container {
    position: relative;
    right: 90px;
    width: 170px;
    height: 125px;
    background-color: #E6E6E6;
    border: 3px solid #FFDF00;
    border-radius: 15px;
    margin: 1px;
}

.lineContainer {
    text-align: center;
    color: white;
    font-size: 14px;
    
}




