.container {
    position: fixed;
    right: 273px;
    top: 333px;
    width: 170px;
    height: 125px;
    background: radial-gradient(50% 50% at 50% 50%, #FFDF00 99.99%, rgba(255, 255, 255, 0) 100%);

    border: 3px solid #FFDF00;
    border-radius: 20px;
    margin: 30px;
}

.lineContainer {
    text-align: center;
    color: black;
    font-size: 14px;
    position:absolute;
    top: 40px;
}