.SupportUs {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #444f42;
    padding: 100px;
}

.bg {
    background-color: #fff;
    max-width: 720px;
    max-height: 1280px;

    min-width: 375px;
    min-height: 667px;

    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.box {

    position: absolute;
    width: 375px;
    height: 580px;
    left: px;
    bottom: 185px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #DAD4E5;
    border-radius: 40px;
    border: black 2px solid;
}

.img {
    background-image: url(/static/Bubbles.svg);
    background-repeat: no-repeat;
    position::
}