.main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #444f42;
    padding: 100px;
}

.bg {
    background-color: white;
    max-width: 720px;
    max-height: 1280px;

    min-width: 375px;
    min-height: 667px;

    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    align-items: center;


}