.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

.header {
    justify-content: flex-start;
    font-family: Helvetica, sans-serif;
    font-size: 36px;
    font-weight: 700;
    color: #6B5DA9;
    padding-bottom: 20px;
    padding-
}

.h2 {
    display: flex;
    align-items: center;
    font-family: Helvetica, sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #6B5DA9;
    margin: 50;
    padding-top: 30px;
}

.h3 {
    font-family: Helvetica, sans-serif;
    font-size: 12px;
    color: grey;
    padding-bottom: 20px;
}

.bar {
    background-color: #F8F8F8;
    display: flex; 
    min-height: 12px;
    min-width: 250px;
    border: 1px solid #DFDFDF;
}

.box1 {
    border: 1px solid #DFDFDF;
    min-width: 50px;
}

.box2 {
    border: 1px solid #DFDFDF;
    min-width: 50px;
}

.box3 {
    border: 1px solid #DFDFDF;
    min-width: 50px;
}

.box4 {
    border: 1px solid #DFDFDF;
    min-width: 50px;
}

.box5 {
    border: 1px solid #DFDFDF;
    min-width: 50px;
}

.backButton {
    
}