.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 24px; 
    padding-bottom: 10px;
    min-width: 375px;
    max-width: 375px;
}

.image {
    width: 65%;
    height: 65%;
    padding-top: 50px;
}

.header {
    justify-content: flex-start;
    font-family: 'Rajdhani', sans-serif;
    font-size: 36px;
    font-weight: 700;
    color: #6B5DA9;
    padding-bottom: 20px;
}

.h2 {
    display: flex;
    align-items: center;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #6B5DA9;
    margin: 50;
    padding-top: 50px;
}

.h3 {
    font-family: 'Rajdhani', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #009966;
    padding-bottom: 40px;
}

.description {
    font-family: Helvetica, sans-serif;
    font-size: 12px;
    color: grey;
    padding-left: 15px;
    margin: 50px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.givethanks {
    font-family: Helvetica, sans-serif;
    font-size: 12px;
    color: grey;
    margin-top: 0px;
}

.bar {
    background-color: #C4C4C4;
    display: flex; 
    min-height: 12px;
    min-width: 250px;
    border: 1px solid #DFDFDF;
}

.box1 {
    border: 1px solid #DFDFDF;
    min-width: 50px;
}

.box2 {
    border: 1px solid #DFDFDF;
    min-width: 50px;
}

.box3 {
    border: 1px solid #DFDFDF;
    min-width: 50px;
}

.box4 {
    border: 1px solid #DFDFDF;
    min-width: 50px;
}

.box5 {
    border: 1px solid #DFDFDF;
    min-width: 50px;
}