.container {
    background-color: white;
    border: black solid 1px;
    border-radius: 15px;
    width: 352px;
    height: 106px;
    left: 9px;
    top: 156px;
    margin: 2px;


}
.header {
    text-align: center;

    font-family: Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #6B5DA9;

    
}

.bold {
    font-weight: 700;
    font-family: Helvetica, sans-serif;
}

.wordContainer {
    padding: 15px;
}

.lineContainer {
    margin-bottom: px;
}

