.container {
    background-color: white;
    border: black solid 1px;
    border-radius: 15px;
    width: 352px;
    height: 105px;
    left: 9px;
    margin: 1px;


}

.header {
    text-align: center;

    font-family: Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #009966;

    
}

.bold {
    font-weight: 700;
    font-family: Helvetica, sans-serif;
}

.wordContainer {
    padding: 15px;
}

.lineContainer {
    text-align: center;
}

.text {
    font-size: 14px;
}


