.center {
  position: relative;
  top: 35px;
}

.header {
  position: absolute;

  text-align: center;

  font-weight: 700;

  font-family: 'Rajdhani', sans-serif;
}

.information {
  font-family: Helvetica, sans-serif;
}
