.center {
  position: relative;
  top: 35px;
}

.header {
  text-align: center;
  font-weight: bold;
}

.paragraph {
  position: absolute;
  bottom: 350px;
  right: 400px;
  font-size: 12px;
  color: black;
}